<main>
<p id="notice"></p>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">

<%= render 'users/userinfo', user: @book.user %>

<%= render 'books/newbook', book: @book_new %>

</div>
<div class="col-md-8 offset-md-1">
<thead><h2>Book detail</h2></thead>
<table class="table table-hover table-inverse">
<tbody>
<tr>
  <td>
    <%= link_to(user_path(@book.user)) do %>
    <%= attachment_image_tag @user, :profile_image, format: 'jpeg', class: "d-block attachment user profile_image fallback", fallback: "no_image.jpg", size: "40x40" %>
    <%= @book.user.name %>
    <% end %>
  </td>
  <td><%= link_to @book.title, book_path(@book) %></td>
  <td><%= @book.body %></td>
  <td>
   <% if @book.favorited_by?(current_user) %>
    <p>
      <%= link_to book_favorites_path(@book), method: :delete do %>
        ♥<%= @book.favorites.count %>
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to book_favorites_path(@book), method: :post do %>
        ♡<%= @book.favorites.count %>
      <% end %>
    </p>
   <% end %>
  </td>
  <td><p>コメント件数：<%= @book.book_comments.count %></p></td>
  <% if @book.user == current_user %>
  <td><%= link_to "Edit", edit_book_path(@book), class: 'btn btn-sm btn-success' %></td>
  <td><%= link_to "Destroy", book_path(@book), class: 'btn btn-sm btn-danger', method: :delete %></td>
  <% end %>
<tr>

</tbody>

</table>
<table>
  <tbody>

  <div id="comments_area"> 
    <%= render 'book_comments/post_comments', book: @book %>
  </div>
  </tbody>
</table>

<div class="new-comment">
  <%= render 'book_comments/form', book: @book, book_comment: @book_comment %>
</div>

</div>
  </div>
  </div>
</div>
</main>